{% extends "catalog/base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="container">

    <div class="card">

        <div class="card-header">
            <h3>Регистрация завершена</h3>
        </div>

        <div class="card-body">
            <p>
                Благодарим вас за регистрацию в нашем сервисе.<br>
                Вы были автоматически авторизованы в вашем профиле.<br>
                Теперь вам доступны расширенные возможности в зависимости от ваших полномочий.
            </p>
        </div>
    </div>
</div>
{% endblock %}