{% extends "catalog/base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="card">
    <div class="card-header">
        <h1>Почти закончили</h1>
    </div>
    <div class="card-body">
        <p>
            Для успешного завершения процесса регистрации, на указанную вами электронную почту было направлено
            письмо.<br>
            При переходе по указанной в письме ссылке, вы будете автоматически авторизованы в вашем аккаунте.
        </p>
    </div>
</div>
{% endblock %}