{% extends "catalog/base.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="container">

    <div class="card">

        <div class="card-header">
            <h3>Регистрация</h3>
        </div>

        <form method="post">
            <div class="card-body">
                <p>Чтобы зарегистрировать новый аккаунт, пожалуйста, заполните форму:</p>
                {{ form.as_p }}
                {% csrf_token %}
            </div>

            <div class="card-footer">
                <div class="btn-group btn-group-sm" role="group" aria-label="Button group">
                    <input type="submit" value="Зарегистрироваться">
                    <a href="{% url 'catalog:homepage' %}" class="btn btn-outline-primary">Отменить</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
