{% extends 'catalog/base.html' %}
{% load catalog_tags %}
{% block title %}
{% if object %}
Редактировать товар
{% else %}
Добавить товар
{% endif %}
{% endblock %}
{% block content %}
<form method="post" enctype="multipart/form-data">

    <div class="col-12">
        <div class="d-flex justify-content-around align-items-fluid">
            <div class="card">
                <div class="card-header">
                    {% if object %}
                    Редактирование товара
                    {% else %}
                    Добавление нового товара
                    {% endif %}
                </div>

                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit" class="btn btn-outline-success">
                        {% if object %}
                        Сохранить изменения
                        {% else %}
                        Добавить товар
                        {% endif %}
                    </button>
                    <a href="{% url 'catalog:homepage' %}" class="btn btn-outline-primary">Назад</a>
                </div>
            </div>

            <div class="col-4">
                <div class="card">
                    <div class="card-header">
                        Версия продукта
                    </div>
                    <div class="card-body">
                        {{ formset.management_form }}
                        {% for form in formset.forms %}
                        {{ form.as_p }}
                        {% if not forloop.last %}
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}