{% extends 'catalog/base_homepage.html' %}
{% load catalog_tags %}
{% block content %}
{% get_products as products %}
{% for object in products %}
<div class="col-12 col-md-4">
    <div class="card mb-4 rounded-3 shadow-sm">

        <div class="card">
            <img class="rounded mx-auto d-block" src="{{ object.image|upload_media }}" alt="Product Image" width="50%"

                 height="350">

        </div>

        <div class="card-body card-body-sm">

            <p class="card-text">{{ object.title }}</p>
            <p class="card-text">{{ object.description|truncatechars:100 }}</p>
            <p class="card-text">{{ object.price }} рублей </p>
            <div class="d-flex justify-content-between align-items-center"></div>


            <a href="{% url 'product_info' object.pk %}" class="btn btn-outline-primary">Посмотреть товар</a>


        </div>
    </div>
</div>
{% endfor %}
{% endblock %}

